<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Yuji+Syuku&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/layout/favicon.png">
    <title>Profile - Edit profile</title>
</head>
<body>
<!-- Header -->
<div class="flex_header">
    <div class="left_header">
        <div class="box_logo_name">
            <a th:href="@{/}"> <img th:src="@{'/images/layout/rectangle_logo.png'}" id="logo"/></a>
            <a th:href="@{/}" id="page_name">JAPAN ESTATE</a>
        </div>
    </div>
    <nav class="center_header">
    </nav>
    <div class="right_header">
        <a th:href="@{/logout}" class="logout_button"><span class="line-md--logout"></span>Logout</a>
    </div>
</div>
<div class="profile_page_layout">
    <div class="your_account_section">
        <p class="section_title">Your account</p>
        <hr>
        <a th:href="@{/user/profile}" class="section_option">
            <span class="mdi--user-outline"></span>
            <p>Profile</p>
        </a>
        <a th:href="@{/user/basket}" class="section_option">
            <span class="icon-park-outline--shopping"></span>
            <p>Basket</p>
        </a>
        <a th:href="@{/user/orders}" class="section_option">
            <span class="material-symbols--orders-outline-rounded"></span>
            <p>Orders</p>
        </a>
        <a th:href="@{/user/edit_profile}" class="section_option" style="background-color: #aaeeaa">
            <span class="mdi--account-edit-outline"></span>
            <p>Edit profile</p>
        </a>
    </div>
    <div class="profile_info_section">
        <div class="section_title_box">
            <p class="section_title">Edit Profile</p>
            <hr>
        </div>
        <form class="info_box" th:action="@{/user/edit_profile}" method="post">
            <div class="multi_input_wrapper">
                <div class="label_input_wrapper">
                    <label for="name" class="label">Name</label>
                    <input type="text" th:value="${editUser.name}" name="name" id="name" class="multi_input" required>
                </div>
                <div class="label_input_wrapper">
                    <label for="surname" class="label">Surname</label>
                    <input type="text" th:value="${editUser.surname}" name="surname" id="surname" class="multi_input" required>
                </div>
            </div>
            <div class="label_input_wrapper">
                <label class="label">Birth date</label>
                <div class="birthday_input_wrapper">
                    <select class="birthday_input" name="bDayDay" required>
                        <option th:each="d : ${#numbers.sequence(1,31)}"
                                th:value="${d}"
                                th:text="${d}"
                                th:selected="${d == bDayDay}">
                        </option>
                    </select>
                    <select class="birthday_input" name="bDayMonth" id="birthday_month" required>
                        <option th:selected="${bDayMonth == 1}" value="1">Jan</option>
                        <option th:selected="${bDayMonth == 2}" value="2">Feb</option>
                        <option th:selected="${bDayMonth == 3}" value="3">Mar</option>
                        <option th:selected="${bDayMonth == 4}" value="4">Apr</option>
                        <option th:selected="${bDayMonth == 5}" value="5">May</option>
                        <option th:selected="${bDayMonth == 6}" value="6">Jun</option>
                        <option th:selected="${bDayMonth == 7}" value="7">Jul</option>
                        <option th:selected="${bDayMonth == 8}" value="8">Aug</option>
                        <option th:selected="${bDayMonth == 9}" value="9">Sep</option>
                        <option th:selected="${bDayMonth == 10}" value="10">Oct</option>
                        <option th:selected="${bDayMonth == 11}" value="11">Nov</option>
                        <option th:selected="${bDayMonth == 12}" value="12">Dec</option>
                    </select>
                    <select class="birthday_input" name="bDayYear" required>
                        <option th:each="y : ${#numbers.sequence(1900, 2026)}"
                                th:value="${y}"
                                th:text="${y}"
                                th:selected="${y == bDayYear}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="label_input_wrapper">
                <label class="label">Genre</label>
                <div class="gender_input_wrapper">
                    <div class="gender_input">
                        <label for="gender_man">Man</label>
                        <input th:checked="${editUser.gender == 'man'}" type="radio" name="gender" value="man" id="gender_man">
                    </div>
                    <div class="gender_input">
                        <label for="gender_woman">Woman</label>
                        <input th:checked="${editUser.gender == 'woman'}" type="radio" name="gender" value="woman" id="gender_woman">
                    </div>
                    <div class="gender_input">
                        <label for="gender_other">Other</label>
                        <input th:checked="${editUser.gender == 'other'}" type="radio" name="gender" value="other" id="gender_other">
                    </div>
                </div>
            </div>
            <div class="multi_input_wrapper">
                <div class="label_input_wrapper">
                    <label for="oldPassword" class="label">Old password</label>
                    <input type="password" id="oldPassword" name="oldPassword" placeholder="Old password" class="multi_input">
                </div>
                <div class="label_input_wrapper">
                    <label for="newPassword" class="label">New password</label>
                    <input type="password" id="newPassword" name="newPassword" placeholder="New password" class="multi_input">
                </div>
            </div>
            <button type="submit" class="submit_edit_profile_button">Edit</button>
            <p th:text="${error}" class="error_message"></p>
        </form>
    </div>
</div>
</body>
</html>