.catalog_img{
    border-radius: 10px;
    width: 235px;
    height: 195px;
}

.filters_catalog_adjustment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex_catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 20px;
    gap: 10px;
}

.flex_item{
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #d6f5d6;
    transition: .2s all;
    box-shadow: 4px 4px 2px #d6f5d6;
    max-height: 300px;
    max-width: 320px;
}

.flex_item:hover{
    transform: scale(1.03);
    box-shadow: 8px 8px 4px #d6f5d6;
    transition: .2s all;
}

.flex_container_filters_bar{
    display: flex;
    flex: 1;
    margin-right: 25px;
    justify-content: center;
    align-items: flex-start;
    max-width: 175px;
}

.filters_bar_box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: #e0f8e0;
    box-shadow: 4px 4px 2px #c0f2c0;
    border-radius: 8px;
    border: solid 1px #c0f2c0;
    max-width: 155px;
}

.filter_option{
    display: flex;
    font-size: 13px;
    align-items: center;
    gap: 5px;
}

.number_input{
    border-width: 0px;
    border-radius: 2px;
    padding: 2px;
    max-width: 150px;
    background-color: white;
}

.mini_label_input_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}