.flex_infobox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 20px;
    padding: 10px;
}

.house_img{
    border-radius: 10px;
    width: 270px;
    height: 230px;
}