#logo{
    height: 65px;
    width: 125.5px;
}

.flex_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    /*background-color: #e0f8e0;*/
}

.left_header{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    /*background-color: #e0f8e0;*/
}

.box_logo_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    margin-left: 18px;
}

#page_name{
    font-family: "Yuji Syuku", serif;
    color: #343434;
    font-size: 35px;
    font-weight: 200;
    transition: .3s all;
}

#page_name:hover{
    color: #6d6d6d;
    /*color: #585858;*/
    transition: .3s all;
}

.center_header{
    display: flex;
    flex: 1;
    /*gap: 25px;*/
    justify-content: center;
    text-align: center;
    /*background-color: #e0f8e0;*/
}

.right_header{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /*background-color: #e0f8e0;*/
}

.navbar_back{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #e0f8e0;
    padding: 10px;
    box-shadow: 4px 4px 2px #c0f2c0;
    /*transition: .1s all;*/
}

.navbar_back:active{
    transform: scale(0.96);
    box-shadow: 2px 2px 1px #c0f2c0;
    transition: .1s all;
}

.header_button{
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    font-size: 20px;
    background-color: #e0f8e0;
}

.ph--magnifying-glass {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #e0f8e0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='m229.66 218.34l-50.07-50.06a88.11 88.11 0 1 0-11.31 11.31l50.06 50.07a8 8 0 0 0 11.32-11.32M40 112a72 72 0 1 1 72 72a72.08 72.08 0 0 1-72-72'/%3E%3C/svg%3E");
}