#login_register_flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
}

#login_register_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 35px;
    border-style: solid;
    border-radius: 10px;
    border-color: #c0f2c0;
    border-width: 2px;
    box-shadow: 4px 4px 2px #c0f2c0;
}

#above_form_text{
    font-size: 25px;
    font-weight: 500;
}

.input_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name_surname_form{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.register_login_input{
    padding: 7px;
    font-size: 17px;
    border-radius: 5px;
}

#submit_form_button{
    font-size: 14px;
    padding: 5px;
    border-style: solid;
    border-width
    : 2px;
    border-color: #c0f2c0;
    background-color: #e0f8e0;
    box-shadow: 4px 4px 2px #c0f2c0;
    border-radius: 10px
}

#submit_form_button:hover{
    background-color: #d5f6d5;
    cursor: pointer;
}

#submit_form_button:active{
    transform: scale(0.96);
    box-shadow: 2px 2px 1px #c0f2c0;
    transition: .1s all;
}
