option,
select{
    font-size: 18px;
    font-weight: 500;
}

select,
input{
    background-color: #eafaea;
}

option{
    background-color: #f4fdf4;
}

#login_register_flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

#login_register_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 25px;
    border-style: solid;
    border-radius: 10px;
    border-color: #c0f2c0;
    border-width: 2px;
    box-shadow: 4px 4px 2px #c0f2c0;
    /*background-color: #CAEDDD;*/
}

#above_form_text{
    font-size: 25px;
    font-weight: 500;
}

.input_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name_surname_form{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.birthday_flexbox,
.gender_flexbox{
    width: inherit;
}

.form_label{
    font-size: 12px;
    margin-bottom: 4px;
}

.birthday_input_wrapper,
.gender_input_wrapper{
    display: flex;
    width: inherit;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.gender_input{
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 7px;
    width: 108px;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid #aaeeaa;
}

select.register_login_input{
    width: 125px;
}

.register_login_input,
.email_password_input{
    padding: 7px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid #aaeeaa;
    width: 180px;
}

.email_password_input{
    width: 390px !important;
}

#submit_form_button{
    font-size: 14px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #c0f2c0;
    background-color: #e0f8e0;
    box-shadow: 4px 4px 2px #c0f2c0;
    border-radius: 10px
}

#submit_form_button:hover{
    background-color: #d5f6d5;
    cursor: pointer;
}

#submit_form_button:active{
    transform: scale(0.96);
    box-shadow: 2px 2px 1px #c0f2c0;
    transition: .1s all;
}

.error_message{
    color: red;
}
