.profile_layout{
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.profile_settings,
.profile_info{
    display: flex;
    column-gap: 10px;
    background-color: #e0f8e0;
    box-shadow: 4px 4px 2px #c0f2c0;
    border: 2px solid #c0f2c0;
}

.profile_settings{
    width: 300px;
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
    border-radius: 5px;
}

.profile_info{
    width: 740px;
    height: 400px;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
}

span{
    margin: 5px;
}