body{
    background-color: #eafaea;
}

*{
    font-family: 'Noto Sans Mono', sans-serif;
    text-decoration: none;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

a{
    line-height: 0;
}
