body{
    background-color: #eafaea;
    min-height: 100vh;
}

hr{
    width: 85%;
    background-color: #c0f2c0;
    border-width: 0px;
    height: 2px;
    align-self: center;
}

*{
    font-family: 'Noto Sans Mono', sans-serif;
    text-decoration: none;
    color: black;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

a{
    line-height: 0;
}

.mini_label{
    font-size: 11px;
    align-self: flex-start;
}