<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Yuji+Syuku&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/houseDetails.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/layout/favicon.png">
    <title>Japan Estate - House details</title>
</head>
<body>
<!-- Header -->
<div class="flex_header">
    <div class="left_header">
        <div class="box_logo_name">
            <a th:href="@{/}"> <img th:src="@{'/images/layout/logo_rettangolo.png'}" id="logo"/></a>
            <a th:href="@{/}" id="page_name">JAPAN ESTATE</a>
        </div>
    </div>
    <nav class="center_header">
        <div class="navbar_back" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
            <a th:href="@{/}" class="header_button">Buy</a>
        </div>
        <div class="navbar_back" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
            <a th:href="@{/rent_catalog}" class="header_button">Rent</a>
        </div>
    </nav>
    <div class="right_header">
        <a th:if="${session.loggedUser == null}" th:href="@{/login}" id="login_button">Login</a>
        <p th:if="${session.loggedUser != null}">Hello, <span th:text="${session.loggedUser.name}"></span></p>
    </div>
</div>

<div class="flex_infobox">
    <img th:src="@{'/images/houses/' + ${houseDetails.img}}" class="house_img"/>
    <p th:text="${houseDetails.city}"></p>
    <p th:text="${#numbers.formatDecimal(houseDetails.price, 0, 'COMMA', 3, 'POINT')} + '¥'"></p>
    <p th:text="${'rooms: ' + houseDetails.rooms}"></p>
    <p th:text="${'size: ' + houseDetails.size + 'm^2'}"></p>
</div>
<div class="footer"></div>
</body>
</html>