<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Yuji+Syuku&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/layout/favicon.png">
    <title>Japan Estate</title>
</head>
<body>
<!-- Header -->
<div class="flex_header">
    <div class="left_header">
        <div class="box_logo_name">
            <a th:href="@{/}"> <img th:src="@{'/images/layout/logo_rettangolo.png'}" id="logo"/></a>
            <a th:href="@{/}" id="page_name">JAPAN ESTATE</a>
        </div>
    </div>
    <nav class="center_header">
        <div class="navbar_back" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
            <a th:href="@{/}" class="header_button"><span class="ph--magnifying-glass"></span>Lente</a>
        </div>
        <div class="navbar_back" style="border-left: solid; border-right: solid; border-width: 1px; border-color: #c0f2c0;">
            <a th:href="@{/}" class="header_button">Prova</a>
        </div>
        <div class="navbar_back" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
            <a th:href="@{/}" class="header_button">Lorem ipsum</a>
        </div>
    </nav>
    <div class="right_header">
        <a th:if="${session.loggedUser == null}" th:href="@{/login}" id="login_button">Login</a>
        <p th:if="${session.loggedUser != null}">Hello, <span th:text="${session.loggedUser.name}"></span></p>
    </div>
</div>

<div class="filters_catalog_adjustment">
    <!-- filters bar -->
    <div class="flex_container_filters_bar">
        <form id="filtersForm" action="/" th:object="${filters}" method="get">
            <div class="filters_bar_box">
                <p style="font-weight: 500; font-size: 20px;">Filters</p>
                <hr>
                <p>Price</p>
                <div class="mini_label_input_wrapper">
                    <label for="minPrice" class="mini_label">Min</label>
                    <input type="number" placeholder="Min" th:field="*{minPrice}" class="number_input" id="minPrice">
                </div>
                <div class="mini_label_input_wrapper">
                    <label for="maxPrice" class="mini_label">Max</label>
                    <input type="number" placeholder="Max" th:field="*{maxPrice}" class="number_input" id="maxPrice">
                </div>
                <hr>
                <p>City</p>
                <div th:each="city : ${allCities}" class="filter_option">
                    <input type="checkbox"
                           name="cities"
                           th:checked="${filters.cities != null and filters.cities.contains(city)}"
                           th:value="${city}"
                           th:id="${city}">
                    <label th:text="${city}" th:for="${city}"></label>
                </div>
            </div>
        </form>
    </div>
    <!-- Catalog -->
    <div class="flex_catalog">
        <div class="flex_item" th:each="house : ${houses}">
            <a th:href="'/house_details/' + ${house.id}"> <img th:src="@{'/images/houses/' + ${house.img}}" class="catalog_img"/> </a>
            <p th:text="${house.city}"></p>
            <p th:text="${#numbers.formatDecimal(house.price, 0, 'COMMA', 3, 'POINT')} + '¥'"></p>
        </div>
    </div>
</div>
<div class="footer"></div>
<script>
    document.querySelectorAll('#filtersForm input[type="checkbox"]').forEach(cb => {
        cb.addEventListener('change', () => {
            document.getElementById('filtersForm').submit();
        });
    });
</script>
<script>
    document.querySelectorAll('#filtersForm input[type="number"]').forEach(cb => {
        cb.addEventListener('change', () => {
            document.getElementById('filtersForm').submit();
        });
    });
</script>
</body>
</html>