<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Yuji+Syuku&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/login_register.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/layout/favicon.png">
    <title>Japan Estate - Login</title>
</head>
<body>
<div class="box_logo_name" style="margin-top: 12px;">
    <a th:href="@{/}"> <img th:src="@{'/images/layout/logo_rettangolo.png'}" id="logo"/></a>
    <a th:href="@{/}" id="page_name">JAPAN ESTATE</a>
</div>
<div id="login_register_flexbox">
    <p id="above_form_text">Log into your account</p>
    <form id="login_register_form" th:action="@{/login}" method="post">
        <div class="input_div">
            <input type="email" name="email" class="email_password_input" placeholder="E-Mail" id="email" required>
        </div>
        <div class="input_div">
            <input type="password" name="password" class="email_password_input" placeholder="Password" id="password" required>
        </div>
        <button type="submit" id="submit_form_button">Login</button>
    </form>
    <div th:if="${error}" class="error_message" th:text="${error}"></div>
</div>
</body>
</html>