<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Yuji+Syuku&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/login_register.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/layout/favicon.png">
    <title>Japan Estate - Register</title>
</head>
<body>
<div class="box_logo_name" style="margin-top: 12px;">
    <a th:href="@{/}"> <img th:src="@{'/images/layout/rectangle_logo.png'}" id="logo"/></a>
    <a th:href="@{/}" id="page_name">JAPAN ESTATE</a>
</div>
<div id="login_register_flexbox">
    <p id="above_form_text">Create a new account</p>
    <form id="login_register_form" th:action="@{/register}" th:object="${user}" method="post">
        <div class="name_surname_form">
            <div class="input_div">
                <input type="text" th:field="*{name}" id="name" class="register_login_input" placeholder="Name" required>
            </div>
            <div class="input_div">
                <input type="text" th:field="*{surname}" class="register_login_input" id="surname" placeholder="Surname" required>
            </div>
        </div>
        <div class="birthday_flexbox">
            <div class="form_label">Birth date</div>
            <div class="birthday_input_wrapper">
                <select class="birthday_input" name="bDay_day" required>
                    <option th:each="d : ${#numbers.sequence(1,31)}"
                            th:value="${d}"
                            th:text="${d}">
                    </option>
                </select>
                <select class="register_login_input" name="bDay_month" required id="birthday_month">
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <select class="birthday_input" name="bDay_year" required>
                    <option th:each="y : ${#numbers.sequence(1900, 2026)}"
                            th:value="${y}"
                            th:text="${y}">
                    </option>
                </select>
            </div>
        </div>
        <div class="gender_flexbox">
            <div class="form_label">Genre</div>
            <div class="gender_input_wrapper">
                <div class="gender_input">
                    <label for="gender_man">Man</label>
                    <input type="radio" th:field="*{gender}" value="man" id="gender_man">
                </div>
                <div class="gender_input">
                    <label for="gender_woman">Woman</label>
                    <input type="radio" th:field="*{gender}" value="woman" id="gender_woman">
                </div>
                <div class="gender_input">
                    <label for="gender_other">Other</label>
                    <input type="radio" th:field="*{gender}" value="other" id="gender_other">
                </div>
            </div>
        </div>
        <div class="input_div">
            <input type="email" th:field="*{email}" required class="email_password_input" id="email" placeholder="E-Mail">
        </div>
        <div class="input_div">
            <input type="password" th:field="*{password}" required class="email_password_input" id="password" placeholder="Password">
        </div>
        <button type="submit" id="submit_form_button">Register</button>
        <div th:if="${error}" class="error_message" th:text="${error}"></div>
        <hr>
        <div class="switch_login_register_div">
            <p>Do you already have an account?</p>
            <a th:href="@{/login}" id="switch_login_register_button">Login</a>
        </div>
    </form>
</div>
<div class="footer"></div>
</body>
</html>